//- 共通構造テンプレート
extends /_settings/_structure

//- ページ固有情報
block vars
  - metas = {}
  - metas.title = metas.site_name = ''
  - metas.path = ''
  - metas.ogpImg = ''

//- メインブロック
block content
  main.home-container
   p ああああああ