@charset 'utf-8';

/* ここがモーダルウィンドウの表示を切り替える仕掛け */
.hidden {
  visibility: hidden;
  display: flex;
  display: grid;
}

/* ここからはデザイン */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 200px;
  height: 150px;
  background: #fff;
  box-shadow: 5px 5px 2px 0 #666;
}

.modal-box p {
  color: #666;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.button {
  display: block;
  width: 100px;
  margin: auto;
  padding: 10px;
  border: 2px solid #ff90a4;
  color: #ff90a4;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: rgba(255, 144, 164, 0.1);
  }

  &:active {
    color: #ff8299;
    border-color: #ff8299;
  }
}

.content {
  padding: 20px;
  appearance: none;
}
